<header class="site-header">
 
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <div class="site-title"><a rel="author" href="{{ '/' | relative_url }}"><h1><span class="underline">{{ site.title | escape }}</span></h1></a>
        </div>

        <div class="sub-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <div class="page-link"><a href="{{ my_page.url | relative_url }}"><h1>{{ my_page.title | escape }}</h1></a></div>
            {%- endif -%}
          {%- endfor -%}
        </div>

        <div class="fonctions">
          <div class="fonc-liens">
            <label class="dark-mode-label" aria-label="Mode Nuit" for="dark-mode">
            </label>
            <span aria-label="Imprimer"><a href="">Imprimer</a></span>
            <label class="typo-plus-label" aria-label="Augmenter la typo" for="typo-plus">
            <label class="typo-dys-label" aria-label="Typo sans-serif" for="typo-dys">
            </span>
             
          </div>
        </div>
      </nav>
    {%- endif -%}

</header>

