:root {
  --bg-color: #f2f2f2;
  --font-color: #333333;
  --font-size:16px;
  --line-height:20px;
  --a-font-color: #333333;
  --custom-color: cyan;
  --lines: linear-gradient(to top, cyan 50%, rgba(255,255,255,0) 50%);
  --text-width: 40em;
  --text-font:serif;
  --contrast-color: linear-gradient(to top, #ef1a63; 50%, rgba(255,255,255,0) 50%);
  --cite-color:#e7e8ea;
  --custom-rss:13px;
}


#dark-mode:checked,
#dark-mode:checked ~ .theme-container {
  --bg-color: #333;
  --font-color: #eee;
  --a-font-color: #eee;
  --custom-color: #ef1a63;
  --lines: linear-gradient(to top, #ef1a63 50%, rgba(255,255,255,0) 50%);
    --contrast-color: linear-gradient(to top, cyan; 50%, rgba(255,255,255,0) 50%);
      --cite-color:#333642;
}

#typo-plus:checked,
#typo-plus:checked ~ .theme-container {
  --font-size:1.5em;
  --line-height:30px;
  --text-width:60em;
  .underline{
  font-size:calc(var(--font-size)*3);
  }
  .date-archives{
    display:none;
  }
  .row-archives{
    line-height:calc(var(--line-height)*2.5);
  }
   --custom-rss:30px;
}

#typo-dys:checked,
#typo-dys:checked ~ .theme-container {
 --text-font:sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.theme-container{
  background-color:var(--bg-color);
  color:var(--font-color);
}

html{
  height:100%;
}

body {
height:100%;
display: flex;
flex-direction:column;
  font-family: var(--text-font);
  line-height:var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.grow {
  flex-grow: 1; /* 1. */
}


h1, h2, h3
{
  font-family:sans-serif;    
}

h1{
  font-size:calc(var(--font-size)*2);
  line-height:calc(var(--line-height)*3);
  margin-bottom:calc(var(--line-height)*2);
}

h2{
  font-size:calc(var(--font-size)*1.5);
  line-height:calc(var(--line-height)*2.5); 
  margin-bottom:var(--line-height);
}

article h2{
  margin-top:calc(var(--line-height)*3);
}

hr{
  margin-bottom:var(--line-height);
}

li{
list-style-type: none;
}

td{
  font-size:var(--font-size);
}

.text-content li:before {
  content: "- "; 
}


blockquote{
  margin-right:25px;
  margin-left:25px;
  margin-bottom:20px;
  border-width:2px;
  background:var(--cite-color);
  padding:10px 10px 1px 20px;
  border-left-width:5px;
  border-left-style:solid;
  border-left-color:var(--custom-color);
  quotes: "“" "”" "‘" "’";
}

q {
  quotes: "‘" "’" "“" "”";
}

.footnotes::before{
  content: "---";
}

.footnotes li {
  counter-increment: my-counter;
  margin-bottom:var(--line-height);
}

.footnotes li::before{
  content: counter(my-counter) ". ";
  font-weight: bold;
}

.footnotes p{
  display:inline;
}

label{
  cursor:pointer;
  font-weight:bold;
  font-size: var(--font-size);
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s 0s;
  margin-right:20px;
  padding-bottom:2px;
}

label:hover{
    background-size: 0% 100%;
}


a {
  color:var(--a-font-color);
  text-decoration: none;
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s 0s;
  font-family: var(--text-font);
}

a:hover {
  background-size: 0% 100%;
  text-decoration:none;
}

/**
*Différents liens
*/

.a-bloc{
  color:var(--a-font-color);
  text-transform:uppercase;
font-family:sans-serif;
  background:none;
  font-size:var(--font-size);
}

.a-bloc:hover{
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.a-nu{
background:none;
}

.a-nu:hover{
     background:var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.a-archives{
  color:var(--a-font-color);
font-family:sans-serif;
  background:none;

}

.a-archives:hover{
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.a-cat{
  color:var(--a-font-color);
font-family:sans-serif;
  background:none;
  font-size:calc(var(--font-size)*1.2);
}

.a-cat:hover{
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


@media all and (max-device-width: 700px)
{

h1{
   line-height:calc(var(--line-height)*2); 
   margin-bottom:var(--line-height);
}


h2{

   line-height:calc(var(--line-height)*1.5); 
}

article h2{
  margin-top:calc(var(--line-height)*2);
}


label:hover{
    background-size: 100% 100%;
}


.typo-dys-label::before{
font-size:calc(var(--font-size)/1.5)
}

.typo-dys-checkbox:checked ~ .theme-container .typo-dys-label::before {
font-family:serif;
  font-size:calc(var(--font-size)/1.5)
}

a:hover {
  background-size:100% 100%;
  text-decoration:none;
}

.a-bloc:hover{
  background:none;
}

.a-nu:hover{
     background:none;
     }
  
.a-archives:hover{
  background:none;
  }
  
  .a-cat:hover{
  background:none;
  }


}
hr{
  border:0px;
  text-align:center;
  color:var(--font-color);
}

hr:after{
content:'\2738'
}
