:root {
  --bg-color: #f2f2f2;
  --font-color: #333333;
  --font-size:1em;
  --line-height:20px;
  --a-font-color: #333333;
  --custom-color: cyan;
  --lines: linear-gradient(to top, cyan 50%, rgba(255,255,255,0) 50%);
}


#dark-mode:checked,
#dark-mode:checked ~ .theme-container {
  --bg-color: #100e17;
  --font-color: #f2f2f2;
  --a-font-color: #f2f2f2;
  --custom-color: #ef1a63;
  --lines: linear-gradient(to top, #ef1a63 50%, rgba(255,255,255,0) 50%);
}

#typo-plus:checked,
#typo-plus:checked ~ .theme-container {
  --font-size:1.5em;
  --line-height:30px;
}

* {
  margin: 0;
  padding: 0;
}

.theme-container{
  background-color:var(--bg-color);
  color:var(--font-color);
}

html{
  height:100%;
}

body {
height:100%;
display: flex;
flex-direction:column;
  font-family: serif;
  line-height:var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.grow {
  flex-grow: 1; /* 1. */
}



h1, h2, h3
{
  font-family:sans-serif;
}


a {
  color:var(--a-font-color);
  text-decoration: none;
  text-transform:uppercase;
}

li{
list-style-type: none;
}


.dark-mode-label::before {
  content: "MODE NUIT";
  cursor:pointer;
  font-weight:bold;
  background-color:var(--custom-color);
  padding:5px;
  font-size: var(--font-size);
}

.dark-mode-checkbox:checked ~ .theme-container .dark-mode-label::before {
  content: "MODE JOUR";
  font-weight:bold;
  background-color:var(--custom-color);
  padding:5px;
  font-size: var(--font-size);
}

.typo-plus-label::before{
  content: "TYPO +";
  cursor:pointer;
  font-weight:bold;
  background-color:var(--custom-color);
  padding:5px;
  font-size: var(--font-size);
}

.typo-plus-checkbox:checked ~ .theme-container .typo-plus-label::before {
  content: "TYPO -";
  font-weight:bold;
  background-color:var(--custom-color);
  padding:5px;
  font-size: var(--font-size);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}

