/**
 * Site header
 */

.site-header {
    font-family:sans-serif;
}


.site-nav {
    height:60px;
    display:inline-block;
    width:100%;
    line-height:calc(var(--line-height) *1.5);
    padding-top:20px;
  }


.site-title {
text-transform:uppercase;
display:inline-block;
padding-left:var(--line-height);
font-size:calc(var(--font-size)*1.5);
}

.underline{
  background:var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s 0s;
}

.underline:hover{
  background-size: 0 100%;
}

.sub-nav{
  padding-left:var(--line-height);
}

.page-link {
text-transform:uppercase;
    display:inline-block;
    font-weight:normal;
    font-size:calc(var(--font-size)*0.8);
    padding-right:var(--line-height);
  }



.page-link h1{
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s 0s;
}

.page-link h1:hover{
  background-size: 0 100%;
}


.fonctions{
height:40px;
margin-top:5px;
}

.fonc-liens{
  padding-left:var(--line-height);
}

.fonc-liens a{
  font-size:var(--font-size);
  font-weight:bold;
  margin-left:5px;
  background-color:var(--custom-color);
  padding:5px;
}


.line {
        width: var(--text-width);
        height: 30px;
        border-bottom: 10px solid var(--custom-color);
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(2deg); 
position:relative;
top:calc(var(--line-height)*3);
left:-10px;

}

.line-post {
        width: var(--text-width);
        height: 30px;
        border-bottom: 10px solid var(--custom-color);
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(2deg); 
position:relative;
top:var(--line-height);
left:-10px;

}


  /**
  * Contenu
  */

 .page-content{
  padding-top:calc(var(--line-height)*2);
  }

.textes-display{
  max-width:var(--text-width);
  margin:auto;
  margin-bottom:calc(var(--line-height)*4);
}

.page-title{ 
  font-size:calc(var(--font-size)*1.5);
  margin-bottom:var(--line-height);
}

.apercu-post{
  padding-top:calc(var(--line-height)*3);
  padding-bottom:calc(var(--line-height)*2);
}


.post-title{
  line-height:calc(var(--line-height)*1.5);
  font-family: sans-serif;
  font-size:calc(var(--font-size)*1.5);
  text-align:left;
}

.post-author{
  font-family:sans-serif;
  font-size:var(--font-size);
  margin-bottom:var(--line-height);
}




  /**
  *Articles
  */

  article{
  max-width:var(--text-width);
  margin:auto;
  margin-bottom:calc(var(--line-height)*2);
  }

  article .post{
  padding-top:calc(var(--line-height)*2);
  }

  article h1{
    line-height:calc(var(--line-height)*2);
    font-size:calc(var(--font-size)*2);
        margin-bottom:calc(var(--line-height)*3);
  }


  .text-content{
  margin-bottom:calc(var(--line-height)*3);
  font-family:var(--text-font);
  font-size:calc(var(--font-size)*1.2);
  line-height:calc(var(--line-height)*1.5);
  }

  .text-content p{
     margin-bottom:var(--line-height);
  }


  .p-author{
    position:relative;
    float:right;
  }


  .post-footer h3{
    font-weight:normal;
    font-size:var(--font-size);
  }

  .post-line-footer{
  margin-top:var(--line-height);
 padding-bottom:calc(var(--line-height)*2);
  }



   /**
  *Archives
  */

  .archives{
  max-width:var(--text-width);
  margin:auto;
  text-align:justify;
  line-height:calc(var(--line-height)*1.5);
  font-family:sans-serif;
  }


.trimestre{
  margin-bottom:calc(var(--line-height)*2);
}

  .archives h1{
  margin-bottom:calc(var(--line-height)*2);
  }

  .archives h2{
  margin-bottom:var(--line-height);
  font-size:calc(var(--font-size)*1.5);
  }


.titre-archives{  
  font-size:var(--font-size);
  hyphenate-before: 2;
  hyphenate-after: 3;
}

.archives-separator{
  font-size:var(--font-size);
}


  /**
  *Auteurs
  */

.auteurs{
  max-width:var(--text-width);
  margin:auto;
  font-family:sans-serif;
}

.list-auteurs{
  line-height:var(--line-height);
}

/**
*Auteurs single
*/

.fiche-auteur{
  line-height:var(--line-height);
   padding-top:calc(var(--line-height)*2);
}

.nom-auteur{
  margin-bottom:var(--line-height);
}

.bio-auteur{
  margin-bottom:calc(var(--line-height)*3);
      font-size:calc(var(--font-size)*1.2);
  font-family:var(--text-font);
}

.bio-auteur p{
  margin-bottom:var(--line-height);
}

.liste-textes-auteur{
  padding-bottom:calc(var(--line-height)*2);
}

.liste-textes{
  padding-bottom:var(--line-height);
}


/**
*Single
*/

.single-content{
  padding-top:calc(var(--line-height)*3);
}


  /**
  *Footer
  */

  .site-footer{
    display:none;
  }

/**
* Phones
*/
@media all and (max-device-width: 700px)
{
   .site-title{
    font-size:var(--font-size);
    }



    .page-title{
    font-size:1em;
    padding-left:var(--line-height);
    padding-right:var(--line-height);
  }

   .apercu-post{
    padding-left:var(--line-height);
    padding-right:var(--line-height);
   }

   .post-title{
   font-size:var(--font-size);
   }

   .post-author{
   font-size:calc(var(--font-size)*0.5);
   }

   .line {
        width:95%;
        height: 30px;
        border-bottom: 10px solid var(--custom-color);
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
                        rotate(2deg);
        position: absolute;
    }

    .post-link{  
  background: var(--lines);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s 0s;
}

.post-link:hover {
  background-size: 100% 100%;
}

 article{
    margin:var(--line-height);
    }

    article h1{
    padding-top:calc(var(--line-height)*2);
    text-align:left;
    }

    .p-author{
    float:left;
  }

    .post-footer{
    margin-bottom:calc(var(--line-height)*3);
    }

        .post-line-header .line {
       width:95%;
        height: 30px;
        border-bottom: 10px solid var(--custom-color);
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
                        rotate(2deg);
        position: absolute;
        left:0;
    }

    .post-line-footer .line {
       width:95%;
        height: 30px;
        border-bottom: 10px solid var(--custom-color);
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
                        rotate(2deg);
        position: absolute;
        left:0
    }

    .archives{
    margin:var(--line-height);
    }

       .auteurs{
    margin:var(--line-height);
    }
}
