---
layout: single
title: Archives
---
<div class="archives">
  <h1>2021</h1>
  <div class="trimestre">
   <h2>Tome 1 {{ total }}</h2>
        <table class="table-archives">
              {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2021" %}
                {% capture month %}{{post.date | date: "%B"}}{% endcapture %}
                {% if month == "January" or month == "February" or month=="March" %} 
                {% assign total = total | plus: 1 %}
                      <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 50 | escape }}</a>
                        </td>
                        <td class="date-archives">
                          <span>&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}</span>
                        </td>
                      </tr>          
                 {% endif %}
              {% endif %}
             {% endfor %}
          
        </table>
    
    <div class="line"></div> 
  </div>

  <br>
  <br>
  <br>
  
  <h1>2020</h1>

  <div class="trimestre">
      <h2>Tome 3</h2>
        <table class="table-archives">
              {% for post in site.posts %}
              {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
              {% if year == "2020" %}
                {% capture month %}{{post.date | date: "%B"}}{% endcapture %}
                {% if month == "October" or month == "November" or month=="December" %}        
                      <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 50 | escape }}</a>
                        </td>
                        <td class="date-archives">
                          <span>&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}</span>
                        </td>
                      </tr>          
                 {% endif %}
              {% endif %}
             {% endfor %}
        </table>

    <div class="line"></div> 
    
      <h2>Tome 2</h2>
    <table class="table-archives">
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2020" %}
    {% capture month %}{{post.date | date: "%B"}}{% endcapture %}
    {% if month == "July" or month == "August" or month=="September" %}        
       <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 50 | escape }}</a>
                        </td>
                        <td class="date-archives">
                        <span>&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}<span>
                        </td>
                      </tr>          
    {% endif %}
  {% endif %}
{% endfor %}
    </table>
    
    <div class="line"></div> 
    
  <h2>Tome 1</h2>
      <table class="table-archives">
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2020" %}
    {% capture month %}{{post.date | date: "%B"}}{% endcapture %}
    {% if month == "June" or month == "April" or month=="May" %}        
        <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 50 | escape }}</a>
                        </td>
                        <td class="date-archives">
                          <span>&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}</span>
                        </td>
                      </tr>          
    {% endif %}
  {% endif %}
 {% endfor %}
    </table>


</div>
