---
layout: page
---
<div class="fiche-auteur">

<div class="bio-auteur">
<h1 class="nom-auteur">{{ page.title }}</h1>
{{ content }}
</div>
<div class="archives">
<div class="trimestre">

 <table class="table-archives">
    {% for post in site.categories[page.category] %}
    <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 70 | escape }}</a>
                        </td>
                        <td class="date-archives">
                         <span>&#10040; {{ post.date | date: "%d/%m/%Y" | escape }}</span>
                        </td>
                      </tr>          
    {% endfor %}

</table>
</div>
</div>
</div>
