---
layout: page
---
<div class="fiche-auteur">
	<header class="post-header">
	<label class="typo-dys-label" aria-label="Typo sans-serif" for="typo-dys"></label>
	</header>
<div class="bio-auteur">
<h1 class="nom-auteur">{{ page.title }}</h1>
{{ content }}
</div>
<div class="archives">
<div class="trimestre">

 <table class="table-archives">
    {% for post in site.categories[page.category] %}
    <tr class="row-archives">
                        <td>
                          <a class="a-archives" href="{{ post.url | relative_url }}">{{ post.title | | truncate: 40 | escape }}</a>
                        </td>
                        <td class="date-archives">
                         &#10040; {{ post.date | date: "%d/%m/%Y" | escape }}
                        </td>
                      </tr>          
    {% endfor %}

</table>
</div>
</div>
</div>
