---
layout: default
---

<div class="home">
  <div class="textes-display">
  {% assign posts = site.posts %}
   {%- if posts.size > 0 -%}
   
    <div class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit:10 -%} 

      <div class="apercu-post" role="list">
        <a class="a-nu" href="{{ post.url | relative_url }}" role="listitem">
             <span class="post-title">{{ post.title | escape }} <br>  </span>
        </a>     
        <span class="post-author">
          {%for item in post.categories%}
            {% assign my_array = item | split: "_" %}
          {{my_array | reverse | join: " " }} 
          {%- if forloop.last == false %}, {%- endif -%}
          {% endfor%} 
          {% for item in post.colab %}
            {% assign my_array = item %}
            & {{my_array | escape }}
          {% endfor %}
          &#10039;{% include date.html date=post.date %}
        </span><br>
         <div class="line"></div> 
      </div>     

      {%- endfor -%}

  {%- endif -%}
  </div>
    <a href="{{site.baseurl}}/archives">Tous les textes</a>
</div>
</div>
